@charset "UTF-8";
body {
  font-family: 'Open Sans';
  margin: 0px;
}

@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  width: 75%;
  margin: 0 auto;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  z-index: 2000;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  top: 40px;
  right: 16px;
  display: none;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333333;
  margin-bottom: 6px;
}

.hamburger.isactive {
  position: fixed;
}

.hamburger.isactive span:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.isactive span:nth-child(3) {
  -webkit-transform: translateY(-19px) rotate(45deg);
          transform: translateY(-19px) rotate(45deg);
}

.navbar {
  width: 375px;
  height: 387px;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -600px;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  padding-left: 0;
  -webkit-transition: right 0.7s;
  transition: right 0.7s;
  margin: 0;
}

.navbar.showMenu {
  right: 0;
  -webkit-box-shadow: -8px 10px 14px -3px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 10px 14px -3px rgba(0, 0, 0, 0.25);
}

.navbar ul {
  padding: 0;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin: 17px auto auto 34px;
}

.navbar ul li {
  display: block;
  margin: 0px 0px 16px 0px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #4F4F4F;
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_text {
  margin-left: 9px;
  font-weight: 600;
  font-size: 20px;
}

.phone {
  font-size: 18px;
  line-height: 25px;
  color: #2F80ED;
  text-decoration: none;
  margin-left: 17px;
}

.call {
  display: inline-block;
  padding: 5px 10px;
  width: 144px;
  height: 25px;
  background: #2F80ED;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.call:hover {
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.call:active {
  background: #184D95;
  -webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.refs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.refs a {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #4F4F4F;
}

.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.space_1 {
  width: 42%;
}

.space_1_1 {
  font-size: 36px;
  line-height: 49px;
  color: #333333;
  font-weight: 700;
}

.space_1_2 {
  margin-top: 20px;
  color: #333333;
  font-size: 18px;
  line-height: 25px;
}

.call1 {
  display: inline-block;
  padding: 5px 10px;
  background: #FF5C5C;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 30px;
}

.call1:hover {
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.call1:active {
  background: #923232;
  -webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.call2 {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #FF5C5C;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
}

.call2:hover {
  background: #FF5C5C;
  border: 2px solid #FF5C5C;
  color: #FFFFFF;
}

.call2:active {
  background: #923232;
  -webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.online .container {
  background: #6FCF97;
  border-radius: 5px;
  margin-top: 80px;
  position: relative;
  height: 312px;
  padding-left: 50px;
  padding-top: 87px;
}

.online .container img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.online_1 {
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
  color: #FFFFFF;
}

.online_2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 20px;
  width: 588px;
}

.online .form {
  margin-top: 40px;
}

.online .form .submit {
  background: #F2994A;
  padding-right: 42px;
  padding-left: 42px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.online .form input[value="Отправить заявку"] {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #F2F2F2;
}

.online .form input {
  background: #FFFFFF;
  margin-left: 10px;
  border-radius: 5px;
  height: 35px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.online .form input:nth-child(1) {
  width: 167px;
}

.online .form input:nth-child(2) {
  width: 231px;
}

.online .form input:nth-child(3) {
  width: 231px;
}

.online .form input::-webkit-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.online .form input:-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.online .form input::-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.online .form input::placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.textarea {
  width: 80%;
  height: 140px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  line-height: 40px;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2.38%, #ffffff), color-stop(2.38%, transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), color-stop(52.38%, #ffffff), color-stop(52.38%, transparent), to(transparent));
  background-image: linear-gradient(0deg, #ffffff 2.38%, transparent 2.38%, transparent 50%, #ffffff 50%, #ffffff 52.38%, transparent 52.38%, transparent 100%);
  background-size: 80px 80px;
  outline: none;
}

.textarea_1 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.works {
  margin-top: 80px;
}

.works_1 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.works_items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works_items img {
  margin-bottom: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  width: 24%;
}

.works_items img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.works .call2 {
  display: block;
  width: 141px;
  margin: 0 auto;
}

.works_items.hidden {
  display: none;
}

.works_items.second {
  margin-top: 0;
}

.info_1 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_1_1 {
  margin-top: 40px;
  width: 711px;
  color: #333333;
  margin-left: 20px;
  font-size: 18px;
  line-height: 25px;
}

.info_1_1 span {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
}

.info_2 {
  margin-top: 80px;
}

.items_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items_2_item {
  background: #F2F2F2;
  border-radius: 5px;
  width: 265.85px;
  height: 265.85px;
  margin-bottom: 20px;
  position: relative;
}

.items_2_item:nth-child(3) img {
  margin-top: 88px;
  width: 194.35px;
  height: 88.62px;
}

.items_2_item img {
  display: block;
  margin-top: 60px;
  width: 125.87px;
  height: 125.87px;
  margin-left: auto;
  margin-right: auto;
}

.items_2_item_text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.info_3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin-top: 30px;
  width: 579px;
  margin-left: auto;
  margin-right: auto;
}

.info_4 {
  background: #EB5757;
  border-radius: 5px;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.info_4_1 {
  margin-left: 49px;
}

.info_4_2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
  width: 824px;
  margin-left: 33px;
}

.info_4_2 span {
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
  font-weight: 700;
}

.info_5 {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-top: 80px;
}

.info_5 span {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

.info_4.second {
  background: #F2994A;
}

.consultation {
  background: #2F80ED;
  height: 586px;
  margin-top: 80px;
  position: relative;
  padding-top: 50px;
  color: #FFFFFF;
}

.consultation img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.consultation_1 {
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
  width: 891px;
}

.consultation_2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  width: 644px;
}

.consultation .form {
  margin-top: 40px;
}

.consultation .form .submit {
  background: #F2994A;
  padding-right: 42px;
  padding-left: 42px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.consultation .form input[value="Отправить заявку"] {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #F2F2F2;
}

.consultation .form input {
  background: #FFFFFF;
  margin-left: 10px;
  border-radius: 5px;
  height: 35px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.consultation .form input:nth-child(1) {
  width: 167px;
}

.consultation .form input:nth-child(2) {
  width: 231px;
}

.consultation .form input:nth-child(3) {
  width: 231px;
}

.consultation .form input::-webkit-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.consultation .form input:-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.consultation .form input::-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.consultation .form input::placeholder {
  color: #BDBDBD;
  font-size: 18px;
  line-height: 35px;
}

.file-input {
  display: none;
}

.file-input-label {
  display: block;
  cursor: pointer;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}

footer {
  background: #333333;
  height: 523px;
}

footer iframe {
  margin-top: 50px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container_1 {
  margin-left: 60px;
  color: #E0E0E0;
  margin-top: 138px;
}

footer .container_1_1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

footer .container_1_2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 3px;
}

footer .container_1_2 a {
  text-decoration: none;
  margin-right: 20px;
  color: #E0E0E0;
}

footer .container_1_3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

footer .container_1_4 {
  margin-top: 3px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

footer .container_1_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

footer .container_1_5 a {
  margin-right: 27px;
}

.footer {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-top: 44px;
  padding-bottom: 45px;
  background: #1E1E1E;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.56);
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body_img {
  width: 330px;
  height: 330px;
  background: #FAFAFA;
  border-radius: 5px;
  position: relative;
}

.body_img img {
  position: absolute;
  left: 0;
  right: 0 !important;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 241px;
}

.body_text {
  margin-left: 33px;
}

.body_text_1 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.body_text_2 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-top: 22px;
  width: 392px;
}

.body_text_3 {
  margin-top: 27px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.body_text_3 span {
  font-weight: 700;
}

.body_text_4 .call {
  width: 317px;
  text-align: center;
  margin-top: 26px;
}

.overlay.active, .overlay.first.active {
  display: block;
  -webkit-animation: showBlock 1s linear forwards;
          animation: showBlock 1s linear forwards;
}

.modal_body {
  display: none;
  background: #FFFFFF;
  width: 670px;
  padding-left: 40px;
  padding-top: 40px;
  height: 374px;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  position: relative;
  -webkit-animation: showBlock 1s linear forwards;
          animation: showBlock 1s linear forwards;
}

.modal_body img {
  position: absolute;
  bottom: 0px;
  right: 57px;
}

.modal_body_1 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  color: #6FCF97;
}

.modal_body_2 {
  margin-top: 20px;
  width: 302px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal_body_3 {
  margin-top: 20px;
}

.modal_body_3 input {
  display: block;
  height: 29px;
  border: 1px solid #333333;
  border-radius: 5px;
  width: 50%;
  padding-left: 5px;
  margin-bottom: 10px;
}

.modal_body_3 input:nth-child(3) {
  height: 82px;
}

.modal_body_3 input:nth-child(4) {
  margin-top: 20px;
  background: #2F80ED;
  color: #FFFFFF;
  cursor: pointer;
}

.modal_body_3 input:nth-child(4):hover {
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.modal_body_3 input:nth-child(4):active {
  background: #184D95;
}

.modal_body_3 input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal_body_3 input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal_body_3 input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal_body_3 input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal_body.active {
  display: block;
  -webkit-animation: showBlock 1s linear forwards;
          animation: showBlock 1s linear forwards;
}

.closeModal {
  cursor: pointer;
}

.closeModal img {
  position: absolute;
  top: 58px;
  right: 46px;
}

.modal_body.second {
  padding-left: 0px;
}

.modal_body.second img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  right: 0px;
}

.modal_2_1 {
  font-size: 18px;
  line-height: 25px;
  margin: 40px auto 46px auto;
  text-align: center;
  color: #333333;
  width: 302px;
}

.calling {
  background: #2F80ED;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 39px;
  border: 1px solid #333333;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.calling:hover {
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.calling:active {
  background: #184D95;
}

.img.closeModal2 {
  cursor: pointer;
  position: absolute;
  top: 52px;
  right: 40px;
}

.slider {
  margin: 31px auto;
  width: 100%;
  height: 320px;
}

.slider img {
  width: 100%;
  height: auto;
}

.item {
  width: 574px;
  position: relative;
  border: none;
  outline: none;
}

.slider_item {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 320px;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.item.slick-slide {
  width: 300px;
  height: 320px !important;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  position: relative;
}

.slider_item {
  cursor: pointer;
}

.slider_item.item.slick-slide.slick-current.slick-active.slick-center {
  position: relative;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  border: none;
}

.item.slick-slide {
  -webkit-transform: scale(0.7) translate(390px);
  transform: scale(0.7) translate(390px);
}

.item.slick-slide.slick-center + .slick-slide {
  -webkit-transform: scale(0.8) translate(-150px);
  transform: scale(0.8) translate(-150px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  -webkit-transform: scale(0.7) translate(-390px);
  transform: scale(0.7) translate(-390px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  -webkit-transform: scale(0.8) translate(150px);
  transform: scale(0.8) translate(150px);
}

.item.slick-slide.slick-center {
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 30;
}

.item.slick-slide.slick-center .moree {
  display: block;
}

.slick-center:after {
  opacity: 0;
}

.slick-initialized .slick-slide {
  outline: none;
}

.slick-list {
  height: 100%;
  outline: none;
  width: 900px;
  overflow: hidden;
  padding: 0px 0px !important;
  margin: 0 auto;
}

.moree {
  display: none;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
}

.slider_nav {
  width: 100%;
  max-width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto 60px;
}

.slider-prev, .slider-next {
  background: none;
  border: none;
  cursor: pointer;
}

.slider_nav span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333333;
}

.prev {
  position: absolute;
  top: 55%;
  left: 10%;
  width: 40px;
}

.next {
  position: absolute;
  top: 55%;
  right: 10%;
}

.slider_text {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #333333;
  text-align: center;
  margin-top: 85px;
}

.modal_close {
  cursor: pointer;
}

.modal_close img {
  top: 35px;
  right: 35px;
}

@media (max-width: 1200px) {
  .refs a {
    text-align: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .space_2 {
    width: 50%;
  }
  .space_2 img {
    width: 100%;
  }
  .space_1 {
    width: 47%;
  }
  .space_1_1 {
    font-size: 30px;
    line-height: 42px;
  }
  .space_1_2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
  .call1 {
    margin-top: 15px;
  }
  .online .container {
    padding-top: 50px;
    height: 307px;
  }
  .online .container img {
    height: 100%;
  }
  .online_1 {
    font-size: 60px;
    line-height: 80px;
  }
  .online .form {
    margin-top: 20px;
  }
  .online .form .submit {
    margin-top: 20px;
  }
  .online .form input:nth-child(1) {
    width: 147px;
  }
  .online .form input:nth-child(2) {
    width: 200px;
  }
  .online .form input:nth-child(3) {
    width: 200px;
  }
  .info_1_1 {
    margin-top: 20px;
    width: 47%;
    font-size: 16px;
    line-height: 22px;
  }
  .info_1_1 span {
    font-size: 30px;
    line-height: 42px;
  }
  .items_2_item {
    padding-bottom: 100px;
    width: 47%;
    height: auto;
  }
  .items_2_item img {
    margin-top: 60px;
  }
  .info_4_2 {
    font-size: 16px;
    line-height: 20px;
    width: 80%;
  }
  .info_4_2 span {
    font-size: 30px;
    line-height: 30px;
  }
  .info_5 {
    font-size: 16px;
    line-height: 20px;
  }
  .info_5 span {
    font-size: 30px;
    line-height: 30px;
  }
  .consultation_1 {
    font-size: 44px;
    line-height: 64px;
    width: 80%;
  }
  .consultation .form .submit {
    margin-top: 20px;
  }
  .consultation .form input:nth-child(3) {
    position: relative;
    z-index: 10;
  }
  .textarea {
    height: 120px;
    overflow: hidden;
  }
  .slick-list {
    width: 100%;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    background-color: white;
    z-index: 900;
    top: 0px;
    width: 100%;
  }
  header .container {
    margin-bottom: 20px;
  }
  .first {
    margin-top: 100px;
  }
  .hamburger {
    display: block;
  }
  .phone {
    display: none;
  }
  .phone.nav {
    display: block;
    color: #2F80ED;
    margin-left: 0px;
  }
  .navbar ul li:nth-child(1) {
    margin-bottom: 32px;
  }
  .refs {
    display: none;
  }
  .space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .space div {
    width: 100%;
  }
  .space.first div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .space.first div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .online img {
    display: none;
  }
  .works_items img {
    width: 47%;
  }
  .info_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info_1 img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .info_1_1 {
    width: 100%;
  }
  .consultation {
    height: auto;
    padding-bottom: 30px;
  }
  .consultation img {
    display: none;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
  footer {
    height: auto;
    padding-bottom: 30px;
  }
  footer .container_1 {
    margin-top: 60px;
  }
  .slider_text {
    font-size: 30px;
    line-height: 42px;
    margin-top: 50px;
  }
  .overlay.first {
    margin-top: 0px;
  }
  .modal_body.first {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .closeModal img {
    display: block !important;
  }
  .space {
    margin-top: 30px;
  }
  .online_1 {
    text-align: center;
  }
  .online_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .online .container {
    padding-left: 0px;
    height: auto;
    padding-bottom: 30px;
  }
  .online .form input {
    display: block;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .info_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .info_4_1 {
    margin-left: 0px;
  }
  .info_4_2 {
    margin-left: 0px;
    margin-top: 43px;
  }
  .consultation {
    padding-top: 30px;
  }
  .consultation_1 {
    font-size: 40px;
    line-height: 46px;
  }
  .consultation_2 {
    width: 100%;
  }
  .consultation .form input {
    display: block;
    width: 90% !important;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .file-input {
    display: none !important;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container_1 {
    margin-left: 0px;
  }
  .info_3 {
    width: 100%;
  }
  .modal_body {
    width: 259px;
    height: 390px;
    padding-top: 20px;
    padding-left: 16px;
  }
  .modal_body img {
    display: none;
  }
  .modal_body_1 {
    font-size: 18px;
    line-height: 25px;
  }
  .modal_body_2 {
    width: 211px;
  }
  .modal_body input {
    width: 90%;
  }
  .modal_body .closeModal {
    top: 20px;
    right: 16px;
  }
  .modal_2_1 {
    width: 211px;
    margin: 40px auto 40px auto;
  }
  .items_2_item:nth-child(3) img {
    width: 80%;
    height: auto;
  }
  .closeModal img {
    top: 26px;
    right: 22px;
  }
  .img.closeModal2 {
    top: 26px;
    right: 22px;
  }
  .slider_text {
    margin-top: 37px;
    font-size: 24px;
    line-height: 33px;
  }
  .logo_text {
    max-width: 150px;
  }
  .modal_body.first, .modal_body.secondd, .modal_body.third, .modal_body.fourth, .modal_body.fifth {
    width: 227px;
    height: 443px;
  }
  .modal_body.first .body, .modal_body.secondd .body, .modal_body.third .body, .modal_body.fourth .body, .modal_body.fifth .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal_body.first .body_img, .modal_body.secondd .body_img, .modal_body.third .body_img, .modal_body.fourth .body_img, .modal_body.fifth .body_img {
    width: 151px;
    height: 151px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal_body.first .body_img img, .modal_body.secondd .body_img img, .modal_body.third .body_img img, .modal_body.fourth .body_img img, .modal_body.fifth .body_img img {
    display: block;
    max-width: 111px;
  }
  .modal_body.first .body_text, .modal_body.secondd .body_text, .modal_body.third .body_text, .modal_body.fourth .body_text, .modal_body.fifth .body_text {
    margin-left: auto;
    margin-right: auto;
  }
  .modal_body.first .body_text_1, .modal_body.secondd .body_text_1, .modal_body.third .body_text_1, .modal_body.fourth .body_text_1, .modal_body.fifth .body_text_1 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .modal_body.first .body_text_2, .modal_body.secondd .body_text_2, .modal_body.third .body_text_2, .modal_body.fourth .body_text_2, .modal_body.fifth .body_text_2 {
    margin-top: 13px;
    width: 206px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
  }
  .modal_body.first .body_text_3, .modal_body.secondd .body_text_3, .modal_body.third .body_text_3, .modal_body.fourth .body_text_3, .modal_body.fifth .body_text_3 {
    font-size: 12px;
    line-height: 16px;
    margin-top: 13px;
  }
  .modal_body.first .body_text_4 .call, .modal_body.secondd .body_text_4 .call, .modal_body.third .body_text_4 .call, .modal_body.fourth .body_text_4 .call, .modal_body.fifth .body_text_4 .call {
    width: 191px;
    height: 29px;
    font-size: 14px;
  }
  .modal_close img {
    display: block;
    top: 22px;
    right: 22px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 90%;
  }
  .logo_text {
    font-size: 15px;
  }
  .call {
    width: 112px;
    font-size: 14px;
  }
  .space_1_1 {
    font-size: 24px;
    line-height: 33px;
  }
  .space_1_2 {
    font-size: 14px;
    line-height: 19px;
  }
  .call1 {
    width: 61px;
    font-size: 14px;
    line-height: 19px;
  }
  .call2 {
    width: 117px;
    font-size: 14px;
    line-height: 19px;
    margin-left: 16px;
  }
  .online .container {
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 69px;
  }
  .online_1 {
    font-size: 36px;
    line-height: 49px;
  }
  .online_2 {
    font-size: 14px;
    line-height: 19px;
  }
  .online .form input {
    margin-bottom: 16px;
  }
  .works {
    margin-top: 32px;
  }
  .works_1 {
    font-size: 24px;
    line-height: 33px;
  }
  .works .call2 {
    text-align: center;
  }
  .info_1 {
    margin-top: 32px;
  }
  .info_1_1 {
    margin-left: 0px;
    font-size: 14px;
    line-height: 19px;
  }
  .info_1_1 span {
    font-size: 24px;
    line-height: 33px;
  }
  .info_1 img {
    width: 100%;
  }
  .info_2 {
    margin-top: 32px;
  }
  .info_3 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
  .info_4 {
    margin-top: 32px;
  }
  .info_4_2 {
    font-size: 14px;
    line-height: 19px;
  }
  .info_4_2 span {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
  .info_5 {
    margin-top: 32px;
    font-size: 13px;
  }
  .info_5 span {
    font-size: 14px;
    line-height: 19px;
  }
  .items_2_item:nth-child(3) img {
    margin-top: 32px;
  }
  .items_2_item {
    padding-bottom: 60px;
  }
  .items_2_item img {
    width: 50%;
    height: auto;
    margin-top: 32px;
  }
  .items_2_item_text {
    font-size: 14px;
    line-height: 19px;
    bottom: 20px;
  }
  .consultation {
    margin-top: 32px;
  }
  .consultation_1 {
    font-size: 36px;
    line-height: 49px;
    width: 100%;
  }
  .consultation_2 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
  }
  .consultation .form {
    margin-top: 16px;
  }
  .consultation .textarea_1 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
  }
  .consultation .textarea {
    width: 100%;
    background-size: 80px 40px;
    height: 66px;
  }
  .consultation .file-input-label {
    font-size: 18px;
    line-height: 25px;
  }
  .consultation .form .submit {
    width: 96% !important;
  }
  .online .form .submit {
    width: 90% !important;
  }
  footer iframe {
    margin-top: 37px;
  }
  footer .container_1 {
    margin-top: 16px;
  }
  footer .container_1_1 {
    font-size: 24px;
    line-height: 33px;
  }
  footer .container_1_2 {
    font-size: 14px;
    line-height: 19px;
  }
  footer .container_1_3 {
    font-size: 18px;
    line-height: 25px;
  }
  footer .container_1_4 {
    font-size: 14px;
    line-height: 19px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
  .navbar {
    width: 90%;
  }
  .navbar ul {
    margin: 17px auto auto 17px;
  }
  .logo_text {
    max-width: 90px;
  }
}
/*# sourceMappingURL=style.css.map */